<article class="section sctn">
    <div class="sctn__content">
        <h1>
            {{ .Params.Title }}
        </h1>
        <h3>
            {{ .Params.Price }}
        </h3>
        <button
            class="snipcart-add-item button"
            data-item-id="{{ .Params.Id }}"
            data-item-name="{{ .Params.Title }}"
            data-item-price="{{ .Params.Price }}"
            data-item-url="{{ .Permalink }}"
            data-item-description="{{ .Params.Description }}"
        >
            {{ .Site.Params.products.add }}
        </button>
        <div class="picture-list">
            {{ $folder := .Params.ImagesFolder }}
            {{ range .Params.Images }}
                {{ $img := (printf "img/%s/%s" $folder . | relURL) }}
                <div class="picture">
                    <a href="{{ $img }}">
                        <img src="{{ $img }}" alt="">
                    </a>
                </div>
            {{ end }}
        </div>
        <p>
            {{ .Content }}
        </p>
    </div>
</article>