.nav {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    > a {
        width: 100%;
        text-align: center;
    }

    .nav__logo {
        height: $nav-width;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .nav__menu {
        height: $nav-width;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .nav__lang {
        height: $nav-width;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}