<!-- Mobile -->
<!-- <div class="home uk-background-cover uk-dark uk-hidden@s" data-src="{{ "img/sebastian-leon-prado-562482-unsplash.jpg" | relURL }}" uk-img>
    {{ partial "home-content" . }}
</div> -->

<!-- Desktop -->
<!-- <div class="home uk-background-cover uk-dark uk-visible@s" data-src="{{ "img/michael-olsen-501064-unsplash.jpg" | relURL }}" uk-img>
    {{ partial "home-content" . }}
</div> -->
<div class="home uk-background-cover uk-dark" data-src="{{ "https://images.unsplash.com/photo-1496889050590-4db81f7fb62a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80" | absURL }}" uk-img>
    {{ partial "home-content" . }}
</div>