<nav class="nav-mobile">
    <a class="nav__menu" href="#my-id" uk-toggle uk-icon="menu"></a>
    <a class="nav__logo" href="{{ .Site.Params.homeURL }}/{{ .Lang}}/" uk-icon="bolt"></a>
    <button class="nav__lang uk-button uk-button-secondary" href="#">
        FR
    </button>

    <div uk-dropdown="pos: right-center; mode: click">
        <ul class="uk-nav uk-dropdown-nav">
            <li class="uk-active"><a href="#">FR</a></li>
            <li><a href="#">EN</a></li>
        </ul>
    </div>
</nav>