.header {
    position: sticky;
    z-index: 10;
    top: 0;
    left: 0;
    right: 0;
    background-color: $header-background-color;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);

    .h__navigation {
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 60rem;
        margin: auto;

        > * {
            flex-basis: 20%;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        > *:first-child,
        > *:last-child {
            flex-basis: 40%;
        }

        > *:first-child {
            justify-content: flex-start;
        }

        > *:last-child {
            justify-content: flex-end;
        }    
    }

    .h__links {
        margin: 0;
        display: flex;
        align-items: center;
        padding: 0;
        list-style: none;
        
        a {
            padding: 1rem;
            display: block;
            font-family: $ff2;
        }
    }

    .h__logo {
        height: 1.5rem;

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    .h__checkout {
        padding: 1rem;
        display: inline-flex;
        align-items: center;

        &:hover > svg {
            fill: $primary-color;
        }

        > svg {
            height: 18px;
            width: 18px;
            margin-right: 0.5rem;
            transition: fill 0.3s ease;
        }

        > span {
            font-weight: bold;
        }
    }

    .h__lang {
        position: relative;
        margin-left: 0.5rem;

        &:hover {
            select {
                border-color: $primary-color;
                color: $primary-color;
            }

            svg {
                fill: $primary-color;
            }
        }

        select {
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            background: white;
            border: 1px solid #eee;
            height: 2rem;
            width: 3rem;
            color: #242424;
            font-size: .8rem;
            border-radius: 0.3rem;
            padding: 0 0.5rem;
            cursor: pointer;
            transition: all 0.3s ease;
            
            &:focus {
                outline: none;
            }
        }

        svg {
            pointer-events: none;
            width: 12px;
            height: 12px;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 0.3rem;
            fill: #888;
            transition: fill 0.3s ease;
        }
    }

    .h__mobile__close {
        display: none;
    }

    

    .h__show-for-small {
        display: none;
    }
}

@include respond-to('small') {
    .header {
        .h__show-for-small {
            display: block;
        }

        .h__navigation {
            .h__logo {
                flex-basis: 35%;
                padding-left: 0.5rem;
            }

            .h__tools {
                flex-basis: 65%;
                justify-content: flex-end;
            }

            .h__menu {
                display: none;
                position: fixed;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                z-index: 1000;
                background: white;
                padding-top: 4rem;

                animation: menuOpening 0.3s ease;

                ul {
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: flex-start;
                    width: 100%;
                    height: 100%;
                }

                li {
                    display: block;
                    width: 100%;

                    &:last-child {
                        margin-top: auto;

                        a {
                            text-align: center;
                            font-size: 2rem;
                            background-color: rgba($primary-color, 0.1);
                        }
                    }
                }

                a {
                    font-size: 2.8rem;

                    small {
                        font-size: 1.8rem;
                        color: #aaa;
                    }
                }
            }

            .h__mobile__close {
                position: absolute;
                top: 0;
                right: 0;
                padding: 1rem;
                display: flex;
                align-items: center;
                justify-content: center;
    
                > svg {
                    width: 20px;
                    height: 20px;
                }
            }

            .h__mobile__burger {
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 1rem;
        
                > svg {
                    width: 20px;
                    height: 20px;
                }
            }
        }
    }

    .body--mobile-menu-opened {
        width: 100%;
        height: 100%;
        overflow: hidden;

        .header .h__navigation {
            &:before {
                content: '';
                position: fixed;
                z-index: 999;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background-color: rgba(0, 0, 0, 0.3);
            }

            .h__menu {
                display: flex;
                transform: scale(1);
                opacity: 1;
            }
        }
    }
}

@keyframes menuOpening {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}