$section-background-color: #fff;
$section-background-color-dark: $primary-color;
$section-width: 60rem;

.section {
    background-color: $section-background-color;
    width: 100%;
    padding: 3rem 1rem;

    &.sctn--center {
        text-align: center;
    }

    &.sctn--dark {
        background-color: rgba($primary-color, 0.1);
    }

    .sctn__content {
        width: $section-width;
        max-width: 100%;
        margin: auto;
    }

    .sctn__more {
        &.sctn__more--right {
            text-align: right;
        }
    }

    .sctn__content-left-with-image,
    .sctn__content-right-with-image  {
        display: flex;
        align-items: center;
        text-align: left;

        .sctn__content__cwi__text {
            flex: 1 1 auto;
            padding: 1rem 3rem;
        }

        .sctn__content__cwi__image {
            flex: 0 0 calc(#{$section-width} / 3);
            background: #ddd;
            overflow: hidden;
            display: flex;
            align-items: center;
            justify-content: center;

            img {
                object-fit: cover;
                height: 100%;
            }
        }
    }
}

.section-page {
    background-color: $section-background-color;
    width: 100%;
    padding: 2rem 0;
    text-align: center;

    .section {
        padding: 1rem;
    }
}

@include respond-to("small") {
    .section {
        .sctn__content {
            width: 100%;
        }

        .sctn__content-left-with-image {
            flex-direction: column-reverse
        }

        .sctn__content-right-with-image  {
            flex-direction: column;
        }

        .sctn__content-left-with-image,
        .sctn__content-right-with-image  {
            .sctn__content__cwi__image {
                flex: 0 0 15rem;
                width: 100%;

                img {
                    min-width: 100%;
                    width: auto;
                }
            }

            .sctn__content__cwi__text {
                padding: 0;
            }
        }
    }
}