@import './normalize';
@import './var';
@import './font';
@import './breakpoint';

*,
*::after,
*::before {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

html, 
body {
    min-height: 100vh;
    background-color: $footer-background-color;
}

@import './button';
@import './header';
@import './footer';
@import './content';
@import './banner';
@import './section';
@import './product';
@import './picture';
@import './breadcrumb';
@import './article';
@import './select';
