<div class="products__nav">
        <ul class="products-nav__root uk-breadcrumb">
            <li><a href="{{ .Site.Params.homeURL }}/">{{ .Site.Params.products.breadcrumb.home }}</a></li>
           
            {{ if .IsPage }}
                <li><a href="{{with .CurrentSection}}{{.Permalink}}{{end}}">{{ .Parent.Title }}</a></li>
            {{ else }}
                <li><span>{{ .Title }}</span></li>
            {{ end }}
            
            {{ if .IsPage }}
                <li><span>{{ .Params.Title }}</span></li>
            {{ end }}
        </ul>

        <a href="#" class="products-nav__cart snipcart-checkout snipcart-summary">
            <span uk-icon="icon: cart; ratio: 1.5"></span>
            <span class="products-nav-cart__count snipcart-total-items">0</span>
        </a>
</div>
