{{ block "header" . }}{{ partial "header" . }}{{end}}
<div class="layout uk-offcanvas-content">
    <div class="side">
        {{ block "nav" . }}
            {{ partial "nav" . }}
        {{ end }}
    </div>

    <div class="main">
        {{ if .Sections }}
            {{ range .Sections }}
                <li>
                    <a href="{{ .Permalink }}">{{ .Title }}</a>
                </li>
            {{ end }}
        {{ else }}
            {{ block "product-list" . }}
                {{ partial "products/list" . }}
            {{end}}
        {{ end }}
    </div>

    {{ block "menu" . }}
        {{ partial "menu" . }}
    {{ end }}
</div>
{{ block "footer" . }}{{ partial "footer" . }}{{end}}